<!DOCTYPE html>
<html>
  <head>
    <title>{% block title  %}Windex{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/moment.min.js"></script>
    {% block script %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
      {% block header %}
        <h1 class="cursive">The Hamaker-Gagala Wedding</h1>
      {% endblock %}
      </div>
      <div id="navigation">
      {% block navigation %}
        <ul class="menu">
          <li>Home</li>
          <li>The Wedding</li>
          <li>Photos</li>
          <li>Registry</li>
        </ul>
      {% endblock %}
      </div>
      <div id="content">
      {% block content %}
      {% endblock %}
      </div>
      <div id="footer">
      {% block footer %}
      {% endblock %}
      </div>
    </div>
    {% block my_scripts %}
    <script src="../../static/js/countdown.js"></script>
    <script src="../../static/js/hover.js"></script>
    {% endblock %}
  </body>
</html>
