<!DOCTYPE html>
<html>
  <head>
    <title>{% block title  %}Windex{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
      {% block header %}
      <img src="../static/img/header.jpg" />
      {% endblock %}
      </div>
      <div id="navigation">
      {% block navigation %}
        <ul class="menu">
          <li>Home</li>
          <li>The Wedding</li>
          <li>Photos</li>
          <li>Registry</li>
        </ul>
      {% endblock %}
      </div>
      <div id="content">
      {% block content %}
        <h1>This is an h1</h1>
        <h2>This is an h2</h2>
        <h3>This is an h3</h3>
        <p>This is a paragraph</p>
      {% endblock %}
      </div>
      <div id="footer">
      {% block footer %}
        <p>This is the footer</p>
      {% endblock %}
      </div>
    </div>
  </body>
</html>
